@import "../../../config/default";

//
// ------------------------------------------------------------------------------------------------------------------
// CSS  for mobile base component ONLY
// ------------------------------------------------------------------------------------------------------------------
//


// FORM
.km-nova {
    .km-list.exp-mobile-form-listview {
        .km-label-above {
            min-height: 65px;

            & > input[type=text],
            & > input[type=number] {
                position: absolute;
                top: 28px;
                width: calc(100% - 30px);
            }

            .k-combobox {
                position: absolute;
                top: 25px;
                left: 10px;
                width: calc(100% - 20px);
            }

            // override the KendoUI default
            .k-dropdown {
                position: absolute;
                top: 37px;
                margin-left: -3px;
            }

            .k-datepicker {
                position: absolute;
                top: 30px;
                left: 10px;
            }

            textarea {
                left: -7px;
                width: 100% !important;
            }
        }
    }

    // for combo box popup list
    .k-popup .k-list-scroller li {
        padding: 5px 4px;
    }


    .km-tabstrip {
        color: white;
    }

    .km-view-title {
        font-size: 1.2em;
        font-weight: bold;
    }

    .fa .km-icon:after,
    .fa .km-icon:before {
        font: 1em/1em 'FontAwesome';
    }

    // Kendo UI Hybrid Font Icons
    // https://docs.telerik.com/kendo-ui/controls/hybrid/styles/icons
    .km-lock:after,
    .km-lock:before {
        content: "\e0ff";
    }

    .km-unlock:after,
    .km-unlock:before {
        content: "\e100";
    }


    // Font Awesome
    // to get the code, go to https://fontawesome.com/cheatsheet/free/solid
    .km-gavel:after,
    .km-gavel:before {
        content: "\f0e3";
    }
}