.hidden {
  display: none;
}

.clear:after {
  clear: both;
  content: "";
  display: table;
}

.center {
  text-align: center;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.exp-invalid, .exp-invalid-unique, input.k-invalid {
  box-shadow: 0 0 4px red !important;
  border: 1px solid red !important;
}

.exp-alert-div.k-window-content, .exp-prompt-div.k-window-content, .exp-window-table-div.k-window-content {
  overflow-y: auto;
}
.exp-alert-div.k-window-content table, .exp-prompt-div.k-window-content table, .exp-window-table-div.k-window-content table {
  border-collapse: collapse;
  width: 100%;
}
.exp-alert-div.k-window-content table td, .exp-alert-div.k-window-content table th, .exp-prompt-div.k-window-content table td, .exp-prompt-div.k-window-content table th, .exp-window-table-div.k-window-content table td, .exp-window-table-div.k-window-content table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.exp-alert-div.k-window-content table tr:nth-child(even), .exp-prompt-div.k-window-content table tr:nth-child(even), .exp-window-table-div.k-window-content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.exp-alert-div.k-window-content table tr:hover, .exp-prompt-div.k-window-content table tr:hover, .exp-window-table-div.k-window-content table tr:hover {
  background-color: #ddd;
}
.exp-alert-div.k-window-content table th, .exp-prompt-div.k-window-content table th, .exp-window-table-div.k-window-content table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #aacaff;
  color: white;
}
.exp-alert-div.k-window-content table td.invalid, .exp-prompt-div.k-window-content table td.invalid, .exp-window-table-div.k-window-content table td.invalid {
  background-color: red;
  color: white;
  font-weight: bold;
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * PROGRESS BAR
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-progress-bar-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.exp-progress-bar-div .progress-bar {
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 2;
}
.exp-progress-bar-div .progress-back {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.4;
}
.exp-progress-bar-div .k-progress-status {
  font-weight: bold;
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * LOADING MASK
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-loading-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.exp-loading-mask .exp-loading-text {
  padding: 5px 20px;
  color: white;
  background-color: #77AAFF;
  font-size: 120%;
  font-weight: bold;
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% - 180px);
}

.exp-report-selector.k-toolbar {
  display: inline-table;
  border: 0;
  padding: 0;
  margin: 0 0.15em 0.2em 0.15em;
  border-radius: 3px;
}
.exp-report-selector.k-toolbar .k-split-button {
  margin-top: 0;
}
.exp-report-selector.k-toolbar .k-split-button .k-button {
  margin: 0;
  padding: 2px 2px;
  height: 29px;
}
.exp-report-selector.k-toolbar .k-split-button .k-button:not(.k-split-button-arrow) {
  padding: 2px 10px;
}

.exp-overlay {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: no-drop;
  background-color: white;
}

.k-notification-info {
  color: #fff;
  background-color: #4A90E2;
  border-color: #4A90E2;
}

.k-multiselect-wrap {
  max-height: 140px;
  overflow: auto;
}

.exp-lookup-selection-input {
  width: calc(50% - 20px) !important;
  display: block;
  margin: 0 0 5px 0 !important;
}

.exp-lookup-selection {
  height: 130px;
}
.exp-lookup-selection .k-listbox-toolbar {
  margin-top: 3px;
}
.exp-lookup-selection li.k-item {
  min-height: 13px;
  line-height: 12px;
  font-size: 90%;
}
.exp-lookup-selection.exp-lookup-selection-source {
  width: calc(50% + 16px) !important;
}
.exp-lookup-selection.exp-lookup-selection-target {
  width: calc(50% - 18px) !important;
  margin-left: 2px;
}

.exp-multilookupselection {
  background-color: #eeeeee;
}
.exp-multilookupselection .exp-lookup-selection-input {
  height: 20px;
  margin: 2px 0 3px 2px !important;
  width: calc(50% - 22px) !important;
}
.exp-multilookupselection .exp-lookup-selection {
  height: 150px;
}

.exp-multiinput {
  border: none;
}
.exp-multiinput .k-input {
  width: calc(100% - 27px) !important;
}
.exp-multiinput .k-button {
  height: 25px;
  width: 25px;
  margin-right: 0;
}
.exp-multiinput .exp-multiinput-div {
  margin-top: 2px;
  min-height: 20px;
  max-height: 66px;
  overflow-y: auto;
  padding: 2px 5px 2px 2px;
  width: calc(100% - 36px);
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-color: #fbfbfb;
}
.exp-multiinput .exp-multiinput-div .exp-multiinput-entry {
  padding: 2px 4px;
  margin: 2px 0;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 4px;
}
.exp-multiinput .exp-multiinput-div .exp-multiinput-entry:hover {
  background-color: #aacaff;
}
.exp-multiinput .exp-multiinput-div .exp-multiinput-entry .exp-close-button {
  float: right;
  margin-right: 4px;
  font-weight: bold;
  cursor: pointer;
}
.exp-multiinput .exp-multiinput-div .exp-multiinput-entry .exp-close-button:hover {
  color: white;
}

.exp-multicheckbox .header {
  background-color: #eeeeee;
  padding: 2px 0 3px 0;
}
.exp-multicheckbox .header input[type=search].k-textbox {
  height: 20px;
  margin: 0 0 0 2px;
  width: 150px;
}
.exp-multicheckbox .header .checkbox-div.input-wrap {
  margin: 0 0 0 10px;
  padding: 0;
  width: auto;
}
.exp-multicheckbox .header .checkbox-div.input-wrap label.k-checkbox-label {
  font-weight: normal;
  color: #49535D;
  text-transform: none;
  margin-top: 2px;
}
.exp-multicheckbox .header .checkbox-div.input-wrap input {
  margin-top: 1px;
}
.exp-multicheckbox .content {
  height: 150px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}
.exp-multicheckbox .content .input-wrap {
  height: auto;
  margin: 0;
  padding: 3px 2px 2px 8px;
}
.exp-multicheckbox .content .input-wrap [type=checkbox] {
  margin-top: 1px;
}
.exp-multicheckbox .content .input-wrap label.k-checkbox-label {
  margin-top: 1px;
  font-weight: normal;
  display: inline;
}

.k-window .k-window-titlebar .k-window-title {
  padding: 0;
  margin: 0;
}
.k-window .k-window-titlebar .k-spacer {
  flex: none;
}
.k-window .k-window-titlebar .fa {
  margin: 0 1.25em 0 0.7em;
}
.k-window .k-window-titlebar .fa.exp-message-info {
  color: #4A90E2;
}
.k-window .k-window-titlebar .fa.exp-message-warning {
  color: yellow;
}
.k-window .k-window-titlebar .fa.exp-message-error {
  color: red;
}

.k-multiselect {
  display: inline-block;
}
.k-multiselect li.k-button {
  display: block;
  float: none;
  text-align: left;
}
.k-multiselect .k-multiselect-wrap .k-input {
  border: 0 !important;
  width: 100% !important;
}

.k-calendar .k-today .k-link {
  color: #4A90E2;
}

.k-checkbox {
  border: 1px solid #A7B8CA;
  background-color: #fff;
  border-radius: 0.2em;
}
.k-checkbox:checked {
  border-color: #4A90E2;
  color: white;
  background-color: #4A90E2;
}
.k-checkbox + .k-checkbox-label {
  margin-top: 0.2em;
}
.k-checkbox:disabled {
  color: #49535D;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #49535D;
  opacity: 1;
  filter: none;
}

.k-radio {
  border: 1px solid #A7B8CA;
  background-color: #fff;
  border-radius: 50%;
}
.k-radio:checked {
  border-color: #4A90E2;
  color: #4A90E2;
}
.k-radio + .k-radio-label {
  margin-top: 0.2em;
}
.k-radio:disabled, .k-radio:disabled + .k-radio-label {
  color: #49535D;
  opacity: 1;
  filter: none;
  -webkit-filter: none;
}

label input + span {
  margin-left: 0.7em;
  vertical-align: bottom;
}

.k-state-hover, .k-state-hover:hover {
  background-color: #aacaff;
}

.k-picker-wrap.k-state-focused {
  background-color: #aacaff;
}

.k-dropdown-wrap.k-state-focused {
  background-color: #aacaff;
}

.k-dropdown-wrap.k-state-hover {
  background-color: #aacaff;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected, .k-list > .k-state-selected,
.k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected, .k-marquee-color {
  color: #49535D;
}

.k-numeric-wrap.k-state-focused {
  background-color: #aacaff;
}

.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
  background-color: #aacaff;
  box-shadow: inset 0 0 3px 1px #aacaff;
}

.k-split-button:focus:not(.k-state-disabled) > .k-state-active, .k-split-button:focus:not(.k-state-disabled) > .k-button:hover {
  background-color: #aacaff;
}

.k-button:active, .k-button.k-state-active, .k-button.k-state-active:hover {
  background-color: #aacaff;
  border-color: #aacaff;
}

.k-button:hover, .k-button.k-state-hover {
  background-color: #aacaff;
}

.k-slider-selection {
  background-color: #4A90E2;
}

.k-ghost-splitbar {
  background-color: #4A90E2;
  border-color: #4A90E2;
}

.k-splitbar-vertical-hover:hover {
  background-color: #4A90E2;
}

.k-split-button.k-state-border-down > .k-button, .k-split-button.k-state-border-up > .k-button {
  background-color: #aacaff;
}

.k-calendar .k-nav-fast.k-state-hover {
  background-color: #aacaff;
}

.k-primary {
  background-color: #77AAFF;
  border-color: #4A90E2;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected,
.k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #77AAFF;
  border-color: #4A90E2;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper {
  border-bottom-width: 0;
}
.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item + .k-item {
  margin-left: 5px;
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * Toolbar and buttons CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.k-icon {
  font-size: 1.4em;
}

.k-toolbar {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.exp-button,
.k-grid .k-button.exp-button {
  margin: 0 0.15em 0.2em 0.15em;
  padding: 0.45em 0.9em;
  height: 2.3em;
  min-width: 3.8em;
  border: 0.1em solid rgba(111, 130, 148, 0.3);
  border-radius: 1.25em;
  background-color: transparent;
}
.exp-button .fa,
.k-grid .k-button.exp-button .fa {
  color: #4A90E2;
  text-align: center;
  height: 0.9em;
  margin-top: 0.1em;
  line-height: 1;
  font-size: 110%;
}
.exp-button .fa .exp-button-label, .exp-button .fa [data-text-key],
.k-grid .k-button.exp-button .fa .exp-button-label,
.k-grid .k-button.exp-button .fa [data-text-key] {
  font-size: 90.9%;
  font-family: "Open Sans", "sans-serif";
  color: #49535D;
  margin-left: 0.5em;
  margin-top: 0;
}
.exp-button .fa .exp-button-label:empty, .exp-button .fa [data-text-key]:empty,
.k-grid .k-button.exp-button .fa .exp-button-label:empty,
.k-grid .k-button.exp-button .fa [data-text-key]:empty {
  margin-left: 0;
}
.exp-button > span:not(.fa):not(.fa-stack),
.k-grid .k-button.exp-button > span:not(.fa):not(.fa-stack) {
  color: #49535D;
  margin-top: 0;
}
.exp-button:not([disabled]):hover,
.k-grid .k-button.exp-button:not([disabled]):hover {
  border: 0.1em solid #4A90E2;
  background-color: transparent;
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * MOBILE CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-screen-mode-phone {
  font-size: 95%;
  line-height: 1.2;
}

.exp-screen-mode-tablet {
  font-size: 90%;
  line-height: 1.1;
}

.exp-screen-mode-desktop {
  font-size: 77%;
}

.exp-screen-mode-desktop .exp-screen-mode-mobile-only, .exp-screen-mode-desktop .exp-screen-mode-tablet-only, .exp-screen-mode-desktop .exp-screen-mode-phone-only {
  display: none;
}

.exp-screen-mode-phone .exp-button .fa, .exp-screen-mode-tablet .exp-button .fa {
  margin-top: 0.3em;
}
.exp-screen-mode-phone .exp-button .exp-button-label, .exp-screen-mode-tablet .exp-button .exp-button-label {
  display: none;
}
.exp-screen-mode-phone .k-window-titlebar .k-window-actions, .exp-screen-mode-tablet .k-window-titlebar .k-window-actions {
  font-size: 140%;
}
.exp-screen-mode-phone .exp-screen-mode-desktop-only, .exp-screen-mode-tablet .exp-screen-mode-desktop-only {
  display: none;
}

.exp-screen-mode-tablet .exp-screen-mode-phone-only {
  display: none;
}

.exp-screen-mode-phone .exp-screen-mode-tablet-only {
  display: none;
}

/*# sourceMappingURL=common.css.map */
