@import "../../../config/default";

/*
 * ------------------------------------------------------------------------------------------------------------------
 * CSS  for layout-resource component ONLY 
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-resource-manager {
    @include default-div;
}

.exp-container-grid {
    @include default-div;
}

.exp-container-preview, .exp-container-preview .k-tabstrip-wrapper {
    @include default-div;
}

.exp-container-form {
    display: none;
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * OTHER CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
// by default, the filter menu takes the CSS from the Grid Header (which is bold)
.k-filter-menu {
    font-weight: normal !important;
    font-size: 90%;
}

// hide parts in Kendo upload
.exp-upload-div {
    margin-top: 10px;
    margin-bottom: 10px;

    .k-upload {
        .k-clear-selected,
        .k-upload-selected {
            display: none !important;
        }
    }
}

.k-grid .k-grid-toolbar .search-overall-input {
    height: $toolbarButtonHeight;
    width: 11em;
    margin: $toolbarButtonMargin;
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * LAYOUT (SPLITTER) CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-splitter-filter {
    @include default-div;
}

.exp-splitter-preview {
    @include default-div;

    & > .k-splitbar {
        background: transparent;
        padding-top: 4px;
        height: 10px;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: none;
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * GRID CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-grid {
    @include default-div;
    padding: 0 0 0 2px;

    .k-grid-norecords-template {
        width: auto;
        padding: 1em 2em;

        .exp-no-record-message {
            button.exp-grid-search-inactive {
                margin-left: 1em;
            }
        }
    }

    table {
        // Grid columns with no width are collapsed if the space is not enough, thus min-width on the tables is needed
        min-width: 10em;
    }

    .k-grid-content {
        // the bottom scrollbar is over the last row
        padding-bottom: 0;
    }

    // all checkbox for selection must be as large as possible
    th.k-header:first-child, .k-grid-content td:first-child {
        padding: 1px 2px 0 2px;
        margin: 0;

        .k-checkbox {
            width: 100%;
            height: 20px;
        }
    }

    th.k-header:first-child {
        padding: 0 0 0 2px;

        .k-checkbox {
            margin-top: -8px;
        }
    }

    .k-grid-toolbar {
        background: $backgroundAfterApplicationTitle;
        border-bottom: 1px solid #ceced2;
        display: block;
        width: 100%;
        padding: 0.2em 0.125em 0.1875em 0.2em;

        .exp-toolbar-marker {
            display: none;
        }

        .exp-toolbar-separator {
            width: 0.1em;
            height: 1em;
            margin: 0 .3em .2em .3em;
            border-left: 1px solid $themeColor;
        }

        //  Active Only filter
        .exp-active-only-button {
            .exp-switch {
                position: relative;
                display: inline-block;
                width: 1.95em;
                height: 1.2em;

                // Hide default HTML checkbox
                input {
                    display: none;
                }

                // The slider
                .exp-slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    transition: .4s;
                }

                .exp-slider:before {
                    position: absolute;
                    content: "";
                    height: 1.2em;
                    width: 1.2em;
                    left: 0.05em;
                    bottom: 0;
                    background-color: white;
                    transition: .4s;
                }

                input:checked + .exp-slider {
                    background-color: $themeColor;
                }

                input:focus + .exp-slider {
                    box-shadow: 0 0 1px $themeColor;
                }

                input:checked + .exp-slider:before {
                    transform: translateX(0.7em);
                }

                // Rounded sliders
                .exp-slider-round {
                    border-radius: 0.7em;
                }

                .exp-slider-round:before {
                    border-radius: 50%;
                }
            }
        }

        // UPLOAD WIDGET - DROP BUTTON
        .exp-upload-button {
            &.k-dropzone-active {
                background-color: $red;
                width: 180px;
                height: 80px;
            }

            &.k-dropzone-hovered {
                background-color: $green;
                width: 180px;
                height: 80px;
            }
        }

        // hide the upload by default in the toolbar
        .k-upload {
            display: none;
        }

        [name=file] {
            display: none;
        }

        // GRID HEADER FILTER
        .grid-extra-filter {
            display: inline-block;
            //width: 250px;
            margin-left: 0.3em;

            .k-combobox {
                width: 12em;
            }

            label {
                margin-left: 5px;
                text-align: right;
                font-weight: bold;
                padding-right: 5px;
            }
        }

        // View selector
        .view-selector {
            width: 12em;
            margin: 0 0.5em 0.3em 0.2em;
            font-weight: bold;

            .k-dropdown-wrap {
                // border: 1px solid $themeColorDark;
                background-color: $themeColorLight;
                padding: 1px 0;

                .k-input {
                    padding-left: 3px;
                    // line-height: 18px;
                }
            }
        }

        .exp-grid-nbr-items {
            display: block;
            float: right;
            margin: 7px 2px 0 2px;
            font-size: 95%;

            .exp-grid-max-limit {
                color: $red;
            }

            .exp-grid-nbr-selected {
                color: $red;
                font-weight: bold;
            }
        }
    }

    // GRID HEADER (FILTER)
    .k-grid-header {
        border: 0;

        th {
            color: $themeTextColor;
            font-size: $gridHeaderFontSize;
            font-weight: bold;
            line-height: 15px;
            border: 0;
            padding-left: 0.2em;

            // only show the column menu for the first row
            &:not(:nth-child(2)) .k-header-column-menu {
                display: none;
            }

            // remove space for filter icon and sort arrow
            .k-link {
                margin-right: 16px;
                padding-right: 0;

                .k-i-sort-desc-sm, .k-i-sort-asc-sm {
                    margin-left: 0;
                    margin-top: -2px;
                    color: red;

                    &.k-icon {
                        width: 0.8em;
                    }
                }
            }
        }

        // display the handle for column resize on hover
        tr[role=row] {
            th {
                border-right: 0.2em solid transparent;

                &:hover {
                    border-color: lightgray;
                }
            }
        }

        .k-filter-row {
            th {
                padding: 0 0.1em 0.3em 0.1em;
                font-weight: normal;
                text-align: center;
            }

            .k-filtercell {
                // do not allow padding at the right
                & > span {
                    padding-right: 0;
                }

                // hide filter operator icon
                & > span > .k-button, .k-dropdown-operator {
                    display: none;
                }

                // hide the numeric arrow
                .k-numeric-wrap {
                    padding-right: 0;

                    .k-select {
                        display: none;
                    }
                }
            }

            // when there is a value in a keyfield, highlight it
            input.exp-key-field {
                background-color: #fff5f5;
            }
        }

        // when a filter is selected, highlight it
        .k-grid-filter {
            margin-right: -0.5em;

            .k-i-filter {
                font-size: 140%;
            }

            &.k-state-active {
                background-color: #e66e62;
            }
        }

        // checkbox in the header (select all)
        .select-all {
            // margin-left: -0.2em;
        }

        th.k-header:first-child {
            text-overflow: clip;
        }
    }

    // BODY
    tbody {
        .k-button {
            min-width: 0.75em;
            padding: 0.0625em 0.25em;
            margin: 0.125em;
            line-height: 1;
        }

        .fa {
            font-size: 100%;
        }

        tr {
            // when grid defined a group
            &.k-grouping-row {
                td {
                    padding-top: 0.6em;

                    &:first-child {
                        text-align: left;
                    }
                }
            }

            td {
                white-space: nowrap;
                line-height: 1.3;
                padding: 0.2em 0.2em;

                &.center {
                    text-align: center;
                }

                &.number {
                    text-align: right;
                    padding-right: 0.5em;
                }

                // this is for aggregation
                div.number {
                    text-align: right;
                    padding-right: 0.4em;
                }

                div.exp-grid-multiple-lines {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .reference {
                    text-decoration: underline;

                    &:hover {
                        color: $themeColorDark;
                        cursor: pointer;
                    }
                }
            }

            color: $themeTextColor;
            font-size: $gridFontSize;

            .tooltip {
                text-decoration: underline dotted $themeTextColor;

                &:hover {
                    color: $themeColorDark;
                    text-decoration: underline dotted $themeColorDark;
                    cursor: help;
                }
            }

            // CSS for link in table
            a:link:not(.k-button),
            a:visited:not(.k-button) {
                color: $themeTextColor;
            }

            a:hover:not(.k-button) {
                color: $themeColorDark;
            }

            &.k-alt:not(.k-state-selected):not(:hover) {
                background-color: #f4f4f4;
            }

            &:hover {
                background-color: lighten($themeColorLight, 12%);
            }

            &.k-state-selected {
                background-color: $themeColorLight;
                color: $themeTextColor;
                font-weight: 600;

                a:link:not(.k-button),
                a:visited:not(.k-button) {
                    color: $themeTextColor;
                }

                a:hover:not(.k-button) {
                    color: $themeColorDark;
                }

                &:hover {
                    background-color: $themeColorLight;
                }
            }

            &.highlighted-row:not(.k-state-selected),
            &.k-alt.highlighted-row:not(.k-state-selected),
            &.highlighted-row.k-state-selected,
            &.highlighted-row a:link:not(.k-button) {
                color: $gridRowFontRed;
            }

            &.highlighted-warning-background-row:not(.k-state-selected),
            &.k-alt.highlighted-warning-background-row:not(.k-state-selected),
            &.highlighted-warning-background-row.k-state-selected {
                background-color: $gridRowBackgroundYellow !important;
            }

            &.highlighted-positive-row:not(.k-state-selected), &.k-alt.highlighted-positive-row:not(.k-state-selected) {
                color: $gridRowFontGreen;
            }

            &.highlighted-positive-row.k-state-selected {
                color: $gridRowFontGreen;
            }

            &.highlighted-row.k-alt {
                //background-color: #ccffcc;
            }
        }
    }
}

.exp-grid-inline {
    height: 14em;
    border: 0.1em solid #aaaaaa;

    .exp-grid {
        width: calc(100% - 0.2em) !important;

        .k-grid-toolbar {
            .exp-grid-nbr-items, .exp-toolbar-separator, .exp-saveconfiguration-button, .exp-refresh-button, .exp-excel-button {
                display: none;
            }
        }
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * PREVIEW CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-preview {
    @include default-div;

    // set the background behind the next/previous button
    &.k-header {
        background: rgba(216, 216, 216, 0.1);
    }

    .k-button.k-bare {
        background-color: $themeColorLight !important; //transparent;
    }

    .k-tabstrip-items {
        height: 3.3em;
        padding: 0;
        // background: linear-gradient(180deg, rgba(238, 238, 238, 0.1) 0%, rgba(216, 216, 216, 0.2) 100%);

        .k-item {
            box-sizing: border-box;
            padding: 0 0.6em;
            margin: 0.6em 0 0 0.3em;
            height: 2.3em;
            border: 1px solid #F0F0F0;
            border-radius: $previewButtonBorderRadius;
            background-color: transparent;

            &:hover {
                border-color: $themeColorDark;
            }

            // do not display loading process
            .k-loading.k-progress {
                display: none;
            }

            .k-link {
                text-transform: uppercase;
                height: 1em;
                color: $themeColorDark;
                font-weight: 600;
                line-height: 1.3;
                text-align: center;
                padding-top: $previewButtonPaddingTop;
            }

            .count-label {
                $countLabelSize: 0.8em;
                background: $themeColorDark;
                color: white;
                font-size: $countLabelSize;
                min-width: $countLabelSize;
                line-height: 1;
                font-weight: normal;
                width: auto;
                height: auto;
                text-align: center;
                margin: 0;
                border-radius: 10px;
                position: absolute;
                top: 0.4em;
                right: 0.6em;
                padding: 0 0.2em 0 0.2em;
            }

            &.k-state-active {
                background-color: $themeColorDark;

                .k-link {
                    color: #FFFFFF;
                }

                .count-label {
                    background: white;
                    color: $themeColorDark;
                }
            }
        }
    }

    .k-content {
        @include default-div;
        overflow-x: hidden;

        &.k-state-active {
            border: 0;
        }

        & > div {
            @include default-div;

            & > form {
                // this is not a sub manager, but a form
                @include default-div;
                overflow-y: auto;
                padding: 10px 20px;
                height: calc(100% - 20px);
            }
        }
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * FORM CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
$formPadding: 1.25em;
$formEditButtonsHeight: 2.5em;
$formPreviewHeight: 12em;

.exp-form {
    width: calc(100% - #{$formPadding} - #{$formPadding});
    padding: 0 $formPadding 0 $formPadding;
    margin-bottom: 0.8em;
    min-height: 10em;
}

.exp-form, .exp-filter {
    color: $themeTextColor;

    .exp-input-wrap, .input-wrap, span.info {
        @include default-div;
        box-sizing: border-box; // includes content, padding and border
        display: inline-block;
        position: relative; // allowed child to be positioned
        width: calc(50% - 0.14em);
        padding: 0.5em 1.25em;
        vertical-align: middle;

        &.full-length, &.exp-full-length {
            width: 100%;
        }
    }

    span.info {
        color: $themeTextColor;
    }

    span.help-label {
        color: $themeTextColor;
    }

    .exp-input-wrap, .input-wrap {
        line-height: 1.7;

        label:not(.k-checkbox-label):not(.k-radio-label):not(.exp-switch) {
            display: block;
            font-size: 95%;
            font-weight: bold;
            padding: 0 0 0.3125em 0.125em;
        }

        label.k-checkbox-label, label.k-radio-label {
            font-weight: bold;
            margin: 1.5em 0 0 0.6em;
            display: inline-block;
            max-width: calc(100% - 2em);
        }

        & > [type=checkbox], [type=radio] {
            margin-top: 1.3em;
        }

        .k-input, .k-textbox:not(.k-combobox), .k-widget {
            width: 100%;
        }

        // special case where the div is followed by buttons (view and search button)
        &.exp-ref-with-buttons {
            &:not(.exp-ref-no-view) > .k-widget {
                width: calc(100% - 4.7em);
            }

            &.exp-ref-no-view > .k-widget {
                width: calc(100% - 2.26em);
            }

            & > .exp-multiselect-wrap {
                display: inline-block;
                width: calc(100% - 2.26em);
            }

            .exp-ref-button {
                height: 2.1em;
                width: 2.1em;
                margin: 0 0 0 0.16em;
                vertical-align: top;
            }
        }
    }

    &.exp-form-single-column {
        div.exp-input-wrap, div.input-wrap {
            width: 100%;

            &.full-length, &.exp-full-length {
                width: 100%;
            }
        }
    }

    &.exp-form-three-columns {
        div.exp-input-wrap, div.input-wrap {
            width: calc(33% - 2px);

            &.double-length, &.exp-double-length {
                width: calc(66% - 2px);
            }

            &.full-length, &.exp-full-length {
                width: 100%;
            }
        }
    }

    &.exp-form-four-columns {
        div.exp-input-wrap, div.input-wrap {
            width: calc(25% - 3px);

            &.double-length, &.exp-double-length {
                width: calc(50% - 2px);
            }

            &.full-length, &.exp-full-length {
                width: 100%;
            }
        }
    }

    fieldset:not(.k-donotconvert) {
        @include default-div;
        height: auto;
        border-top: $themeFieldsetBorder;
        border-bottom: $themeFieldsetBorder;
        padding: 0.5em 0 1em 0;
        margin: 1em 0;

        legend {
            float: left;
            width: 100%;
            margin: 0.8em 0 0.2em 1.25em;
            color: $themeColorDark;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    // special case when 2 fieldsets are consecutive
    // remove the top border
    fieldset:not([style*="display: none"]):not(.k-donotconvert) + fieldset {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    ///* for validation */
    //.k-tooltip-validation {
    //    position: relative;
    //    left: 10px;
    //    // width: calc(50% - #{$inputMargin});
    //    width: calc(100% - #{$inputMargin} - 20px);
    //}


    label.help {
        text-decoration: underline;

        &:hover {
            cursor: help;
        }

        //&:after {
        //    content: "i";
        //    position: relative;
        //    top: -5px;
        //    left: 3px;
        //    font-size: 75%;
        //    font-weight: bold;
        //    background-color: $themeColorDark;
        //    color: white;
        //    border-radius: 50%;
        //    padding: 0 4px;
        //}
    }

    .exp-require-approval {
        label {
            &:after {
                font-family: "FontAwesome";
                content: "\f0e3";
                font-size: 90%;
                color: $red;
                padding-left: 4px;
            }
        }
    }

    .checkbox-group, .radio-group {
        .checkbox-div, .radio-div, // checkbox div (built using buildCheckbox)
        &.exp-input-wrap, &.input-wrap, & > .exp-input-wrap, & > .input-wrap // checkbox div (built using expressoForm)
        {
            margin: 0 0 0 10px;
            padding: 0;

            label.k-checkbox-label, label.k-radio-label {
                font-weight: normal;
                color: $themeTextColor;
                text-transform: none;
                margin: 0 0 0 0.6em;
            }

            input[type=checkbox], input[type=radio] {
                margin-top: 1px;
            }
        }
    }

    .k-upload {
        .k-dropzone {
            background-color: white;

            em {
                color: $themeTextColor;
            }

            &.k-dropzone-hovered {
                background-color: $green;

                em {
                    color: white;
                }
            }
        }

        .k-upload-files {

        }

        .k-action-buttons {
            display: none;
        }
    }
}

// button to enable preview on form
button.exp-create-main-button {
    position: absolute;
    top: 40px;
    left: calc(50% - 55px); // (width+padding)/2
    z-index: 3;
    background-color: $themeColorDark;
    color: white;
    padding: 5px 5px;
    width: 150px;
}

/*
WINDOW  STRUCTURE
k-widget k-window
	k-window-titlebar k-header
		k-window-title
		k-window-actions

	k-popup-edit-form k-window-content k-content
		k-edit-form-container
			???????? (refer to the 3 possibilities below)
			k-edit-buttons

1- EDIT FORM
	exp-form


2- EDIT FORM WITH TABS
	exp-form-wrapper k-widget k-splitter
		exp-form k-pane k-scrollable
		k-splitbar
		exp-form-preview k-pane k-scrollable

3- FROM BUILDWINDOW
	exp-window-content	//  is converted to ExpressoForm

 */
.k-window {
    background-color: white;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.19);

    .k-window-titlebar {
        border-bottom: 2px solid rgba(53, 64, 82, 0.5);
        overflow: hidden;

        .k-window-title {
            display: inline-block;
            color: $themeColorDark;
            font-weight: bold;
            text-transform: uppercase;
            //padding: $windowTitlePaddingTop 0 0 calc(#{$formPadding} + 2px);
            padding: 0.5em 0 0.5em calc(#{$formPadding} + 2px);
        }
    }

    & > div.k-popup-edit-form {
        padding: 0;
    }

    .k-window-content {
        overflow: hidden;

        .k-edit-form-container {
            @include default-div;
            width: 100%;

            // 3 children possibilities
            & > .exp-form, // this class is used when a form is edited (no tabs)
            & > .exp-window-content, // this class is only added with the BuildWindow
            & > .exp-form-wrapper { // this is used when the tabs are put inside the form
                @include default-div;
                padding: 0 $formPadding;
                width: calc(100% - #{$formPadding} - #{$formPadding});
                height: initial;
                overflow: auto;

                & > div:first-child {
                    // padding: 5px 0;
                }
            }

            & > .exp-window-content {
                padding: 0;
                width: 100%;
            }

            // this is used when the tabs are put inside the form
            & > .exp-form-wrapper {
                overflow: hidden;

                .k-splitbar {
                    // margin-left: $formPadding;
                    left: unset;
                    color: $splitBarColor;
                    background-color: $splitBarBackground;
                    border-color: $splitBarBorder;
                }

                .k-ghost-splitbar {
                    // margin-left: $formPadding;
                    left: unset;
                }

                .exp-form {
                    padding: 0;
                    visibility: hidden;
                }

                .exp-form-preview {
                    @include default-div;
                    // padding-bottom: 10px;
                    height: $formPreviewHeight;
                    border: 1px solid #ebebeb;

                    .k-tabstrip-wrapper {
                        @include default-div;
                    }
                }
            }

            .creation-div {
                padding: 15px 10px 10px 0;

                span {
                    display: block;
                    color: $themeTextColorLight;
                    font-size: 90%;
                    font-style: italic;
                    text-align: right;
                }
            }
        }

        .k-edit-buttons {
            //position: absolute;
            bottom: 0;
            right: 0;
            padding: 12px $formPadding;
            width: calc(100% - #{$formPadding} - #{$formPadding});
            background: transparent;
            min-height: 27px;

            .k-button {
                border: 1px solid rgba(111, 130, 148, 0.3);
                border-radius: $buttonBorderRadius;
                background-color: white;
                color: $themeTextColor;
                font-weight: bold;
                margin-top: 0.3em;

                &.k-primary {
                    color: white;
                    background-color: $themeColorDark;
                }

                .fa {
                    margin-right: 5px;
                }
            }

            .k-toolbar {
                border: 0;
                display: inline;

                // split button for action
                .k-split-button {
                    .k-button:not(.k-split-button-arrow) {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .k-split-button-arrow {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
    }

    // for application base, remove the shadow
    .exp-application-base {
        box-shadow: none;
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * FILTER CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-splitter-filter.k-pane.k-scrollable {
    overflow: hidden;
}

.exp-filter {
    @include default-div;
    overflow-y: auto;
    background: linear-gradient(180deg, rgba(216, 216, 216, 0.1) 0%, rgba(216, 216, 216, 0.02) 100%);

    .exp-filter-title {
        font-weight: bold;
        margin: 1em auto 1em auto;
        text-align: center;
        color: $themeColorDark;
        font-size: 130%;
    }

    .exp-filter-content {
        // runtime height

        .exp-filter-tree-view {
            padding: 0 10px;
            height: 100%;
        }
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * PREFERENCES AND COLUMN MENU CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
.favorite-grid-preference {
    font-size: 120%;

    &.selected-favorite {
        color: $themeColor;
    }
}

.delete-grid-preference {
    color: red;
    font-size: 120%;
}

.k-state-hover {
    .favorite-grid-preference:hover {
        color: yellow;
    }

    .delete-grid-preference:hover {
        color: white;
    }
}

.column-menu {
    width: 180px;

    .close-button {
        height: 20px;
        background-color: #cccccc;

        span {
            float: right;
            margin: 2px 2px 2px 2px;
            font-size: 130%;

            &:hover {
                color: white;
            }
        }
    }

    .column-list {
        max-height: 20em;
        overflow-y: auto;
    }
}

// menu for preferences
.menu-preferences {
    .filter-name {
        margin-left: 0.1em;
    }

    .fa:hover {
        color: $themeColorLight;
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * CUSTOM FILTERS
 * ------------------------------------------------------------------------------------------------------------------
 */
.date-range-filter {
    min-width: 200px;

    label {
        font-weight: bold;
    }

    div.date-range {
        margin: 5px 0 5px 20px;
    }

    .k-action-buttons .k-button {
        width: 47%;
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * PICTURE
 * ------------------------------------------------------------------------------------------------------------------
 */
.exp-grid {
    .exp-picture {
        text-align: center;
        padding-top: 0.1em;

        img {
            max-height: 50px;
            max-width: 70px;
        }
    }
}

// when we use picture or multiple lines, we need to use a fixed heigth otherwise
// scrolling a virtual grid with different heights does not work correctly
.exp-screen-mode-desktop {
    .exp-grid.exp-grid-fixed-height {
        tbody {
            tr {
                height: 60px;
            }
        }
    }
}

/*
 * ------------------------------------------------------------------------------------------------------------------
 * MOBILE CSS
 * ------------------------------------------------------------------------------------------------------------------
 */
//Android's default browser doesn't support properly min-width on tables
.km-phone .km-android .k-grid table {
    width: 20em;
}

//.k-mobile {
.exp-screen-mode-phone, .exp-screen-mode-tablet {
    .k-window-titlebar .k-window-action {
        padding: 0.1em;
        width: 1.5em;
        height: 1.5em;

        .k-icon {
            font-size: 1.25em;
        }
    }

    .exp-grid {
        tbody {
            tr {
                td {
                    line-height: 1.5;
                }
            }
        }
    }
}

.exp-screen-mode-tablet {
    .exp-grid {
        tbody {
            tr {
                td {
                    line-height: 1.8;
                }
            }
        }
    }
}

.exp-screen-mode-phone {
    // form is single column
    .exp-form {
        .exp-input-wrap, .input-wrap {
            width: 100%;

            [type=checkbox], [type=radio] {
                margin-top: 2em;
            }
        }
    }

    // do not display the column header
    .exp-grid {
        .k-grid-header {
            display: none;
            height: 0;
        }

        tbody tr {
            &.k-state-selected {
                font-weight: normal;
            }

            td {
                white-space: normal;
                text-align: left;
                padding: 0.4em 0.5em;

                .mobile-grid-column {
                    height: 5.7em;

                    .mobile-grid-column-number {
                        color: $themeColorDark;
                        font-weight: bold;
                        display: block;
                    }

                    .mobile-grid-column-top-right {
                        float: right;
                        font-size: 95%;
                    }

                    .mobile-grid-column-middle-right {
                        float: right;
                        font-size: 85%;
                    }

                    .mobile-grid-column-middle-left {
                        font-size: 85%;
                        font-weight: bold;
                        display: block;
                    }

                    .mobile-grid-column-description {
                        font-size: 95%;
                    }
                }
            }
        }
    }
}

//}