@import "../../../config/default";

//
// ------------------------------------------------------------------------------------------------------------------
// CSS  for exp-application-base component ONLY
// ------------------------------------------------------------------------------------------------------------------
//
.exp-application-base {
    @include default-div;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);

    .full-screen-button {
        position: absolute;
        top: 0;
        right: 0.8em;
        opacity: 0.5;

        &:hover {
            opacity: 1.0;
        }
    }

    .last-updated-time {
        position: absolute;
        bottom: 0.3em;
        right: 1em;
        font-size: 90%;
        font-weight: bold;
        color: $themeTextColor;

        span {
            margin-left: 0.3em;
        }
    }
}


